*{
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
    color: white;
}

.container{
    padding: 8px;
    gap: 7px;
}

.left{
    width: 22vw;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.logo img{
    width: 60px;
}

.home ul li{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 13px;
    margin: 16px 0px 0px 0px;
    cursor: pointer;
}

.home ul li:hover{
    color: white;
}

.library{
    min-height: 69vh;
}

.lib{
    align-items: center;
    gap:13px;
}

.lib:hover{
    color: white;
    cursor: pointer;
}
.okay{
    justify-content: space-between;
    align-items: center;
}

.okay button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 60px;

}
.okay button:hover{
    background-color: #0c0c0c;
}

.box{
    padding: 0px 5px;
    gap: 17px;
}

.left-gap{
    gap: 8px;
}

.left-gap button{
    margin-top: 7px;
}

.footer{
    gap: 10px;
    margin-top: 45px;
}

.foot{
    gap: 10px;
    flex-wrap: wrap;
}

.foot a{
    color: rgb(167, 167, 167);
    text-decoration: none;
}

.below a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}

.below a:hover{
    text-decoration: underline;
}

#world{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.right{
    width: 100vw;
    border-radius: 8px;
    max-height: calc(88vh + 4px);
    overflow: auto;
}

.header{
    justify-content: space-between;
    align-items: center;
    padding: 7px 18px;
    position: sticky;
    top: 0px;
    background-color: rgb(24,24,24);
    z-index: 1;
}
.nav{
    gap: 5px;
}

.nav img{
    width: 11px;
}
.nav button{
    cursor: pointer;
    background-color: black;
    border-radius: 47px;
    border: none;
    padding: 4px 6px;
}
.login{
    margin-left: 19px;
    background-color: white;
    color: black;
    border: none;
    padding: 8px 22px;
    border-radius: 21px;
    cursor: pointer;
}
.login:hover{
    transform: scale(1.05,1.02);
}

.signup{
    background-color: transparent;
    padding: 7px;
    border: none;
}
.signup:hover{
    color : white;
    cursor: pointer;
    transform: scale(1.04);
}


.info{
    justify-content: space-between;
    align-items: center;
}


.cardContainer{
    margin-top: 10px;
    margin-bottom: 25px;
    gap: 18px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card{
    padding: 11px 11px;
    background-color: rgb(23,23,23);
    width: 135px;
    gap: 5px;
    position: relative;
}

.card img{
    margin-bottom: 5px;
    width: 100%;
    object-fit: contain;
}
.play{
    position: absolute;
    bottom: 61px;
    right: 15px;
    opacity: 0;
    transition: all 1s ease;
}

.play img{
    background-color: #1ed760;
    width: 20px;
    border-radius: 30px;
    padding: 10px;
}

.play img:hover{
    background-color: #1fdf64;
    cursor: pointer;
    transform: scale(1.04);
}


::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-thumb {
  background: #535353; 
 
}

::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-corner {
  background: #000; 
}
  

